@import './styles/mixins.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  text-align: left
}

a, p, h1 {
  color: inherit;
}
p {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}


.flex-top {
  @include flexbox($placeItems: flex-start);
}

.flex-bottom {
  @include flexbox($placeItems: flex-end);
}

.flex-centered {
  @include flexbox($placeItems: center, $placeContent: center);
}

.flex-left {
  @include flexbox($placeContent: flex-start);
}

.flex-left-col {
  @include flexbox($placeContent: flex-start, $direction:column);
}

.flex-right {
  @include flexbox($placeContent: flex-end);
}
